<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body ng-app="webnotepad" ng-controller="notecontroller">

<div class="row appTitle">
 <h1><center>WebNotepad <p ng-init=" name='World' ">Hello {{name}}!</p></center></h1>
</div>

<div class="row">
  <div class="col-md-2">
    <ul class="list-group">
      <li class="list-group-item"><span class="badge">12</span>All</li>
      <a href="#" class="list-group-item" ng-repeat="x in labels track by $index"><span class="badge">5</span>{{x.name}}</a>
      <li class="list-group-item">
        <form class="form" id="newLabelForm">
          <input type="text" class="form-control" id="newLabel" placeholder="new label" ng-model="newlabelname">
          <br> <center><button class="btn btn-default" ng-click="newLabel()">Add</button></center>
        </form>
      </li> 
    </ul>
  </div>
  <div class="col-md-4">

        <div class="row">
          <div class="col-md-4">
            <h4>Notes</h4>
          </div>
          <div class="col-md-8">

            <div class="dropdown floatRight">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Options
                <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Add label</a></li>
                    <li><a href="#">Mola</a></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
            </div>
          </div>
        </div>

      <div>
        <ul class="list-group">
              <li class="list-group-item" ng-repeat="x in notes track by $index" ng-click="showNote(x)"><input type="checkbox" id="inlineCheckbox1" value="option1">{{x.subject}}<br>{{x.content}}</li>
        </ul> 
      </div>

  </div>
  <div class="col-md-6 noteTable">

    <div>
      <form>
       Subject: <br> <div ng-model="curr_eid"></div>
       <input type="text" class="form-control" placeholder="Text input" ng-model="subject"><br>
       Content:<br>
       <textarea class="form-control" row="6" placeholder="Contents input" ng-model="content"></textarea>
       <br><br>
       <button class="btn btn-default" ng-click="editNote()" ng-show="editMode">Edit</button> <button class="btn btn-danger" ng-click="deleteNote()" ng-show="editMode">Delete</button>
       <button class="btn btn-primary" ng-click="changeCreateMode()" ng-show="editMode">New Memo</button> <button class="btn btn-primary" ng-click="newNote()" ng-hide="editMode">Apply</button>
      </form>
    </div>

  </div>

</div>

<script>
var myApp = angular.module('webnotepad', []);

myApp.controller('notecontroller',function($scope, $http) {
	$scope.notes = [];
        $scope.labels = [];
        $scope.curr_eid = null;
        $scope.editMode = false;

        $scope.selectedLabel = 0;
        $scope.selectedLabel_


        $scope.changeCreateMode = function() {
          $scope.subject = "";
          $scope.content = "";
          $scope.editMode = false;
        };

        $http.get('/notes/read').then(function(response) {
          $scope.notes = response.data;
        });

        $http.get('/labels/read').then(function(response) {
          $scope.labels = response.data;
        });

        $scope.newNote = function() {
          var dataObj = {
				subject : $scope.subject,
				content : $scope.content
		}; 
          var res = $http.post('/notes/create', dataObj);
		res.success(function(data, status, headers, config) {
			$scope.notes.push(data);
                        $scope.editMode = true;
		});
		res.error(function(data, status, headers, config) {
		});
        };

        $scope.showNote = function(pNote) {
          $scope.subject = pNote.subject;
          $scope.content = pNote.content;
          $scope.curr_eid = pNote.eid;
          $scope.editMode = true;
        };

        $scope.editNote = function() {
          var dataObj = {
              id : $scope.curr_eid,
              subject : $scope.subject,
              content : $scope.content,
          };

          var res = $http.post('/notes/update',dataObj);
               res.success(function(data, status, headers, config) {
                  var i;
                  for(i=0; i< $scope.notes.length; i++){
                     if ( $scope.notes[i].eid == data.eid ){
                       $scope.notes[i].subject = data.subject;
                       $scope.notes[i].content = data.content;

                       $scope.subject = data.subject;
                       $scope.content = data.content;
                       
                       break;
                     }
                   }
               });
               res.error(function(data, status, headers, config) {
               });
        };

        $scope.deleteNote = function(pNote) {
          var dataObj = {
            id : $scope.curr_eid
          };

          var res = $http.post('notes/delete',dataObj);
          
          res.success(function(data, status, headers, config) {
             var i;
               for(i=0; i< $scope.notes.length; i++){
                  if ( $scope.notes[i].eid == data.eid ){
                    $scope.notes.splice(i,1);
                    $scope.changeCreateMode();
                    break;
                 }
              }                   
          });
          res.error(function(data, status, headers, config) {
          });

        };


        $scope.newLabel = function() {
          var dataObj = {
             name : $scope.newlabelname
          }

          var res = $http.post('labels/create',dataObj);
        
          res.success(function(data, status, headers, config) {
            $scope.labels.push(data);
          });

          res.error(function(data, status, headers, config) {
          }); 
       };
 
});

</script>

</body>
</html>

<style>

textarea {
    resize: none;
    width: 180px;
    height: 800px;
}

.appTitle {
   margin-bottom: 50px;
}

.noteTable {
   border: 1px solid gray;
   padding: 20px;
}

.floatRight {
  float: right;
}

#newLabelForm {
}

</style>
